@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #2A92EE;
    font-family: 'Hind Siliguri', 'Arial', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;

}

/*Major Buttons / Inputs */
.card {
    justify-content: center;
    width: 10cm;
    height: 10cm;
    background-color: #fdfeff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.sign-up {
    position: relative; 
    top: 2cm;
    left: 1cm;
    width: 8cm;
    height: 1cm;
    outline: none;
    border-color:rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border-color: #2A92EE;
    border-style: solid;
    text-indent: 0.3cm;
}

.password {
    position: relative;
    top: 2.5cm;
    left: 1cm;
    width: 8cm;
    height: 1cm;
    outline: none;
    border-color:rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border-color: #2A92EE;
    border-style: solid;
    text-indent: 0.3cm;
}



.title {
    font-weight: 600;
    font-family: 'Hind Siliguri', 'Arial', sans-serif;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 1cm;
}

.button {
    position: relative;
    top: 3.5cm;
    left: 1cm;
    width: 8cm;
    height: 1cm;
    background-color: #2A92EE;
    color: #fdfeff;
    border-radius: 2px;
    border-color: #2A92EE;
    border-style: solid;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Hind Siliguri', 'Arial', sans-serif;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.button:hover {
    background-color: #2a92eeaa;
    color: #ffffffaa;
    border-color: #2a92eeaa;
}

.forgot-password {
    position: relative;
    top: 3.5cm;
    left: 1cm;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Hind Siliguri', 'Arial', sans-serif;
    width: 3cm;
    text-align: center;
    cursor: default;
}

.noacc {
    position: relative;
    top: 2.3cm;
    left: 5.1cm;
    font-size: 14px;
    font-family: 'Hind Siliguri', 'Arial', sans-serif;
    width: 4cm;
    text-align: center;
    cursor: default;
}

.title-contents {
    font-family: inherit;
    text-align: center;
    position: relative;
    top: 0.5cm;
    font-size: 14px;
    width: 9.9cm;
}

.username {
    position: relative;
    top: 1.3cm;
    left: 1cm;
    width: 8cm;
    height: 1cm;
    outline: none;
    border-color:rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border-color: #2A92EE;
    border-style: solid;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.86);
    text-indent: 0.3cm;
}

.existingAccount {
    text-align: center;
    position: relative;
    top: 4.7cm;
    left: 2.3cm;
    width: 5.3cm;
    font-size: 15px;
}

.g-signin2 {
    position: relative;
    top: 4.3cm;
    left: 1cm;
}

.new {
    justify-content: center;
    width: 10cm;
    height: 14cm;
    background-color: #fdfeff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.title-txt {
    position: relative;
    top: 1cm;
    text-align: center;
    font-size: 22px;
}

.emailInput {
    position: relative;
    top: 2.5cm;
    left: 1cm;
    width: 8cm;
    height: 1cm;
    outline: none;
    border-color:rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border-color: #2A92EE;
    border-style: solid;
    text-indent: 0.3cm;
}

.btnNew {
    position: relative;
    top: 3.5cm;
}

.knewPwd {
    position: relative;
    top: 3.2cm;
    font-size: 14px;
    cursor: default;
    text-align: center;
}

.e:hover {
    color: #2a92eeaa;
}
.knew-text {
    position: relative;
    top: 1cm;
}
.click-here {
    position: relative;
    top: 1cm;
    text-decoration-line: underline;
}
#togglePassword {
    position: relative;
    top: 2.4cm;
    cursor: pointer;
}

/*Placeholders*/
.sign-up::placeholder {
    position: relative;
    top: 0.05cm;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.859);
}
.emailInput::placeholder {
    position: relative;
    top: 0.05cm;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.859);
}

.username::placeholder {
    position: relative;
    top: 0.05cm;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.859);
}
.password::placeholder {
    position: relative;
    top: 0.05cm;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.859);
}
/*End of Placeholders*/

/*Random CSS code I found*/
.clickHere_ {
    color: #2A92EE;
}
.clickHere_:hover {
    color: #2a92eeaa;
}
.clickHere:hover {
    color: #2a92eeaa;
}

a {
    text-decoration: none;
}

.noacc-ref {
    color: #2A92EE;
    font-weight: 600;

}

.noacc-ref:hover {
    color: #2a92eeaa;
}


.sign-up-one {
    position: relative;
    top: 1.9cm;
}

.password-one {
    position: relative;
    top: 2.5cm;
}

.password-confirm {
    position: relative;
    top: 3.2cm;
}



.clickHere {
    font-weight: 600;
    color: #2A92EE;
}

._button {
    position: relative;
    top: 4cm;
}
/*End of Random CSS code I found*/
