@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #2A92EE;
    font-family: 'Hind Siliguri', 'Arial', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;

}

.card {
    justify-content: center;
    place-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 10cm;
    height: 10cm;
    background-color: #fdfeff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sign-up {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -3em;
    width: 40vh;
    height: 4vh;
    outline: none;
    border-color:rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    border-color: #2A92EE;
    border-style: solid;
}

.sign-up::placeholder {
    font-size: 13px;
    color:rgba(0, 0, 0, 0.87);
}

.title {
    font-weight: 600;
    font-family: 'Hind Siliguri', 'Arial', sans-serif;
    font-size: 30px;
    position: relative;
    top: -3em;
}